@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.landing {
      color: grey;
      margin: auto;
      width: 100%;
      padding: 20px;

}

.hero-title {
      padding: 40px;
}
.point-title {
      color: FireBrick;
      font-family: 'Righteous', cursive;
      text-align: center;
}

.point-description {
      font-family: 'Inconsolata', monospace;
      color : grey;
      font-size: 14pt;
      text-align: center;

}
