@import url('https://fonts.googleapis.com/css?family=Righteous');
.album-title {
    color: red;
    font-family: 'Righteous', cursive;

}
.album-link {
  color: plum;
}

.col-sm {
  margin: auto;
  width: 100%;
  padding: 50px;
}
